# Matlab autosave files
*.asv

# OS X stores
*.DS_Store

# Binary
*.mlappinstall
*.h5
target/

# Logs
*.log
logs/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties